* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
    font: 400 1rem "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;

}

li {
    list-style-type: none;
}

div>img {
    max-height: 145px;
    max-width: 145px;
    align-self: center;
}

.menuDeSelecao {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.4s;
}

.menuDeSelecao>li:hover {
    color: red;
}